name: Build and Publish Container

on:
  push:
    branches:
      - master
      - feature/containerization

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Prepare Metadata
        id: vars
        run: |
          VERSION=$(sed -n 's/^version = "\(.*\)"/\1/p' pyproject.toml | head -1)
          echo "APP_VERSION=$VERSION" >> $GITHUB_OUTPUT
          
          echo "SHORT_SHA=${GITHUB_SHA:0:7}" >> $GITHUB_OUTPUT
          
          IMAGE_ID="ghcr.io/${{ github.repository }}"
          echo "IMAGE_ID=${IMAGE_ID,,}" >> $GITHUB_OUTPUT

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ${{ steps.vars.outputs.IMAGE_ID }}:latest
            ${{ steps.vars.outputs.IMAGE_ID }}:${{ steps.vars.outputs.APP_VERSION }}
            ${{ steps.vars.outputs.IMAGE_ID }}:${{ steps.vars.outputs.SHORT_SHA }}