name: Build and Deploy to Azure

on:
  push:
    branches: [ master ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Image
        run: |
          IMAGE_ID=ghcr.io/${{ github.repository_owner }}/testbenchmanager:latest
          docker build . -t $IMAGE_ID
          docker push $IMAGE_ID

      # - name: Login to Azure
      #   uses: azure/login@v1
      #   with:
      #     creds: ${{ secrets.AZURE_CREDENTIALS }}

    # - name: Deploy public GHCR image to Container App
    #   uses: azure/container-apps-deploy-action@v1
    #   with:
    #     containerAppName: my-container-app
    #     resourceGroup: my-container-app-rg
    #     imageToDeploy: ghcr.io/<YOUR-GITHUB-USERNAME>/myimage:latest
    #     registryServer: ghcr.io