name: Build and Deploy to Azure

on:
  push:
    branches:
      - master
      - feature/containerization

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
        - name: Checkout Code
          uses: actions/checkout@v4

        - name: Extract metadata
          id: meta
          run: |
            VERSION=$(sed -n 's/^version = "\(.*\)"/\1/p' pyproject.toml | head -1)
            # Get the first 7 characters of the Git commit hash
            SHA=${GITHUB_SHA:0:7}
            
            # Save them to the GitHub Environment for later steps
            echo "APP_VERSION=$VERSION" >> $GITHUB_ENV
            echo "SHORT_SHA=$SHA" >> $GITHUB_ENV
            

        - name: Log in to GHCR
          uses: docker/login-action@v3
          with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}

        - name: Set lowercase repository name
          run: |
            echo "IMAGE_ID=ghcr.io/${GITHUB_REPOSITORY,,}" >> $GITHUB_ENV

        - name: Build and Push Image
          run: |
            TAG_LATEST=${{ env.IMAGE_ID }}:latest
            TAG_VERSION=${{ env.IMAGE_ID }}:${{ env.APP_VERSION }}
            TAG_SHA=${{ env.IMAGE_ID }}:${{ env.SHORT_SHA }}

            docker build . \
              -t ${{ env.IMAGE_ID }}:latest \
              -t ${{ env.IMAGE_ID }}:${{ env.APP_VERSION }} \
              -t ${{ env.IMAGE_ID }}:${{ env.SHORT_SHA }}

            docker push ${{ env.IMAGE_ID }} --all-tags
            
      # - name: Login to Azure
      #   uses: azure/login@v1
      #   with:
      #     creds: ${{ secrets.AZURE_CREDENTIALS }}

    # - name: Deploy public GHCR image to Container App
    #   uses: azure/container-apps-deploy-action@v1
    #   with:
    #     containerAppName: my-container-app
    #     resourceGroup: my-container-app-rg
    #     imageToDeploy: ghcr.io/<YOUR-GITHUB-USERNAME>/myimage:latest
    #     registryServer: ghcr.io