name: Build and Deploy to Azure

on:
  push:
    branches:
      - master
      - feature/containerization

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
        - name: Checkout Code
          uses: actions/checkout@v4

        - name: Log in to GHCR
          uses: docker/login-action@v3
          with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}

        - name: Set lowercase repository name
          run: |
            echo "IMAGE_ID=ghcr.io/${GITHUB_REPOSITORY,,}" >> $GITHUB_ENV

        - name: Build and Push Image
          run: |
            docker build . -t ${{ env.IMAGE_ID }}:latest
            docker push ${{ env.IMAGE_ID }}:latest
      # - name: Login to Azure
      #   uses: azure/login@v1
      #   with:
      #     creds: ${{ secrets.AZURE_CREDENTIALS }}

    # - name: Deploy public GHCR image to Container App
    #   uses: azure/container-apps-deploy-action@v1
    #   with:
    #     containerAppName: my-container-app
    #     resourceGroup: my-container-app-rg
    #     imageToDeploy: ghcr.io/<YOUR-GITHUB-USERNAME>/myimage:latest
    #     registryServer: ghcr.io